??? info "Enabling the formatter"

    {{ formatter }} is not included in default formatters.

    You can enable it by using [``--select``](../../configuration/configuration_reference.md#select_1) and [``--extend-select``](../../configuration/configuration_reference.md#extend-select_1) options.

    ```bash
    robocop format --select {{ formatter }}
    ```

    ```bash
    robocop format --extend-select {{ formatter }}
    ```