div.body h3 {
    padding: .4rem 1rem .1rem;
    border-bottom: 1px solid #dbd7d7;
}
td, th {
    font-size: 90%;
    text-align: left;
}
table tr:nth-child(2n-1) td {
    background-color: #f3f6f6;
}
table.docutils td, table.docutils th {
    border: 1px solid #e1e4e5;
}
code {
    white-space: nowrap;
}
dl.py.class {
    padding-bottom: 20px;
}
dl:not(.docutils) dt {
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #e7f2fa;
    color: #2980B9;
    border-top: solid 3px #6ab0de;
    padding: 6px;
    position: relative;
}
dl dt {
    font-weight: bold;
    margin-bottom: 12px;
}
span.sig-prename.descclassname, span.sig-name.descname {
    color: #000;
}
em.property {
    color: #2980B9;
}