site_name: RoboCop Docs
# site_url: https://docs.robocop.io   # optional (used by some plugins)
docs_dir: docs_mk
repo_url: https://github.com/MarketSquare/robotframework-robocop
repo_name: robocop

theme:
  name: material
  logo: images/robocop_logo_small.png
  icon:
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    #- toc.follow

nav:
  - Home: index.md
  - User Guide:
      - "Getting started": user_guide/intro.md
  - Linter:
      - "Rules": rules_list.md
  - Formatter:
      - Formatters:
          - AddMissingEnd: formatter/formatters/AddMissingEnd.md
          - AlignKeywordsSection: formatter/formatters/AlignKeywordsSection.md
      #- "Formatters" formatter/formatters.md

plugins:
  - search
  - git-authors
  - gen-files:
      scripts:
        - docs_mk/generate_rules_list.py

markdown_extensions:
    - admonition
    - toc:
        permalink: true
    - attr_list
    - md_in_html
    - pymdownx.details
    - pymdownx.highlight:
        default_lang: robotframework
        guess_lang: false
        use_pygments: true
        anchor_linenums: true
        line_spans: __span
        pygments_lang_class: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:material.extensions.emoji.to_svg
#extra:
#  - # any extra settings