# This workflow will install Python dependencies and run unit tests for given OSes

name: Unit tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: 'ubuntu-latest'
            python-version: 3.6
            rf-version: 'stable3'
          - os: 'windows-latest'
            python-version: 3.9
            rf-version: 'stable'
          - os: 'ubuntu-latest'
            python-version: 3.7
            rf-version: 'stable4'
          - os: 'ubuntu-latest'
            python-version: 3.8
            rf-version: 'recent'
          - os: 'ubuntu-latest'
            python-version: 3.9
            rf-version: 'recent'
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r tests/packages/${{ matrix.rf-version }}/requirements.txt
        pip install toml pytest pytest-benchmark coverage[toml] pyyaml packaging==21.* pathspec==0.9.* jinja2~=3.0
    - name: Run unit tests with coverage
      run:
        coverage run -m pytest
    - name: Codecov
      uses: codecov/codecov-action@v1.3.1
      with:
        name: ${{ matrix.python-version }}-${{ matrix.os }}-${{ matrix.rf-version }}
