name: Upload Sarif results

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]

    - name: Run robocop
      run: python -m robocop --verbose --reports sarif,rules_by_id --include *comment*  -c return_status:quality_gate:E=1:W=-1:I=-1 tests/atest/rules/comments/missing-space-after-comment/

    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: .sarif.json
        category: robocop
